    <%- include ('partials/head.ejs') %>
    <title>Perguntas e Respostas</title>
    <%- include ('partials/navbar.ejs') %>
    <%- include ('partials/sidebar.ejs') %>
    <br>
    <div class="container-lg">
        <div class="header">
            <div class="header-info">
                <h3>Questões mais recentes</h3>
                <br>
                <h5><%- perguntas.length %> Perguntas</h5>
            </div>
            <div class="header-button">
                <a class="btn btn-primary" href='/perguntar'>Faça uma pergunta</a>
                <span></span>
            </div>
        </div>
    </div>
    <div class="card-container">
        <% perguntas.forEach(pergunta => { %>
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <a href="/pergunta/<%= pergunta.id %>"><%= pergunta.titulo %></a><br>
                        <p class="descricao"><%= pergunta.descricao %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <%- include ('partials/footer.ejs') %>
<%- include ('partials/script.ejs') %>